/*************\
 Styles Custom
\*************/
/*************\
    Imports
\*************/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/*************\
     Colors
\*************/
$black: rgb(0, 0, 0);
/*************\
     Fonts
\*************/

/*************\
 General Class
\*************/
/*** Fonts ***/

/*** Backgrounds ***/

/*** Colors ***/

/*** Borders ***/

/*** Keyframes ***/

/*************\
  Custom Style
\*************/
.main {
  height: 100vh;
  .wrapper {
    font-family: 'Lato', sans-serif !important;
    height: 90%;
    width: 95%;
    max-width: 95%;
    background-color: rgba($black, 0.4);
    border-radius: 5px;
  }
}

/****************************************\
  Medium devices (tablets, 768px and up)
\****************************************/
@media (min-width: 768px) { 
  .main {
    height: 100vh;
    .wrapper {     
      width: 50%;
      max-width: 50%;
    }
  }
}



