/*************\
 Styles Custom
\*************/
/*************\
    Imports
\*************/
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

/*************\
     Colors
\*************/
$black: rgb(0, 0, 0) ;
$white: rgb(255, 255, 255);
/*************\
     Fonts
\*************/

/*************\
 General Class
\*************/
/*** Fonts ***/

/*** Backgrounds ***/

/*** Colors ***/

/*** Borders ***/

/*** Keyframes ***/

/*************\
  Custom Style
\*************/
.input-city {
  background-color: rgba($black, 0.2);
  border-color: transparent;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  color: $white;

  &:focus {
    outline: rgba($white, 1);
  }
}

.btn-search {
  width: 100%;
  color: rgba($white, 0.6);
  background-color: transparent !important;
  border: 0;
  height: 100%;

  i {
    font-size: 1.6rem;
  }

  &:hover {
    color: $white;
  }

  &:focus {
    outline: rgba($white, 1);
  }
}

/****************************************\
  Medium devices (tablets, 768px and up)
\****************************************/
