/*************\
 Styles Custom
\*************/

/*************\
     Colors
\*************/
$yellow-light: rgb(255, 246, 102);
$yellow-dark: rgb(252, 158, 2);
$white: rgb(250, 245, 243);
$white-secondary: rgb(235, 245, 243);
/*************\
     Fonts
\*************/

/*************\
 General Class
\*************/
/*** Fonts ***/

/*** Backgrounds ***/

/*** Colors ***/
.color-sun {
  background: -webkit-linear-gradient($yellow-light, $yellow-dark);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.color-cloudy {
  background: -webkit-linear-gradient($yellow-light, $white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.color-white {
  color: $white;
}

.color-white-secondary {
  color: rgba($white-secondary, 0.5);
}
/*** Borders ***/

/*** Keyframes ***/
@keyframes moverIzquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moverDerecha {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moverArriba {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moverAbajo {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*************\
  Custom Style
\*************/
.weather {
  color: $white;
  width: 100%;
  
  .city-weather {
    animation: moverAbajo 1s ease-in;
    .title {
      font-weight: bold;
    }
  }
  
  .image-weather {
    animation: moverIzquierda 1s ease-in;
    .icon-weather {
      font-size: 8rem;
      min-height: 100px;
      object-fit: cover;
    }
  }
  
  .temperature {
    animation: moverDerecha 1s ease-in;
    .temp {
      font-size: 4rem; 
    }

    .units {
      font-size: 4rem; 
    }
  }

  .box {
    animation: moverArriba 1s ease-in;
    background-color:  rgba($white, .1);
    border-radius: 5px;

    .description {
      font-size: 1.5rem;
      text-transform: capitalize;
    }
  }
}
/****************************************\
  Medium devices (tablets, 768px and up)
\****************************************/
